# application id
APP_ID='a7ef69ad-708d-4f8e-b20c-98b99e36ffdc'
# application name
APP_NAME='cuecards-backend'
# application port
APP_HOST=127.0.0.1
# application port
APP_PORT=3000
# application domain
APP_DOMAIN=localhost:3000
# logger mode. Acceptable values: error, warn, log, verbose, debug
APP_LOG_LEVEL=debug

# Acceptable values: development, production, test, staging, by default - development
NODE_ENV=development
# an internal docker Node port for a test environment in the github workflow
NODE_PORT_INTERNAL=3000
# an external docker Node port for a test environment in the github workflow
NODE_PORT_EXTERNAL=3000

# docker-compose container group name. By default all new groups of container will be named "docker"
COMPOSE_PROJECT_NAME='cuecards-backend'
# API port
API_PORT=4000

# db host
POSTGRES_HOST=127.0.0.1
# docker external db port
POSTGRES_PORT_EXTERNAL=5432
# docker internal db port
POSTGRES_PORT_INTERNAL=5432
# default database
POSTGRES_DB=postgres
# default user
POSTGRES_USER=developer
# password
POSTGRES_PASSWORD=Latepia
# postgres db url for a prisma client
POSTGRES_URL="postgresql://developer:Latepia@localhost:5432/postgres?schema=public"

# prisma log level. Acceptable values: query, info, warn, error
PRISMA_LOG_LEVEL='query,info,warn,error'

# redis host
REDIS_HOST=127.0.0.1
# docker external db port
REDIS_PORT_EXTERNAL=6379
# docker internal db port
REDIS_PORT_INTERNAL=6379
# url
REDIS_URL=redis://localhost:6379
# redis user name
REDIS_USERNAME=developer
# user pasword
REDIS_PASSWORD=Latepia

# cache time to live. When set = 0 records doesn't have a live time limit
CACHE_TTL=0
# disable caching globally
DISABLE_CACHE=false

# jwt lifetime in ms
JWT_ACCESS_TIME=600
# jwt secret
JWT_CONFIRMATION_SECRET='random_string'
# jwt lifetime in ms
JWT_CONFIRMATION_TIME=3600
# jwt secret
JWT_RESET_PASSWORD_SECRET='random_string'
# jwt lifetime in ms
JWT_RESET_PASSWORD_TIME=1800
# jwt secret
JWT_REFRESH_SECRET='random_string'
# jwt lifetime in ms
JWT_REFRESH_TIME=604800

# cookie name
REFRESH_COOKIE='cookie_name'
# cookie secret
COOKIE_SECRET='random_string'

# email host
EMAIL_HOST=smtp.cuecards.com
# email port
EMAIL_PORT=587
# email sequre
EMAIL_SECURE=false
# email user
EMAIL_USER=my-mail@cuecards.com
# email password
EMAIL_PASSWORD=?????

# AWS access key
AWS_ACCESS_KEY_ID=?????
# AWS secret access key
AWS_SECRET_ACCESS_KEY=?????
# AWS ses gerion
AWS_SES_REGION=?????
