<html lang='en'>
<body>
<p>Hello {{nickname}}! Welcome to CueCards!</p>
<p>
  Click
  <b><a href='{{link}}' target='_blank'>here</a></b>
  to reset your password or go to this link:
  {{link}}
</p>
<p><small>This code will expire in 15 minutes.</small></p>
<br>
<p>Best of luck, CueCards team</p>
</body>
</html>
