<html lang='en'>
<body>
<p>Hello {{nickname}}! Welcome to CueCards!</p>
<p>
  Use this code to reset your password: {{code}}
</p>
<p><small>This code will expire in {{ttlInMinutes}} minutes.</small></p>
<br>
<p>Best of luck, CueCards team</p>
</body>
</html>
